body {
    font-family: 'Nunito', Arial, sans-serif;
}

.card {
    border: none;
    border-radius: 30px !important;
    box-shadow: 0 4px 20px #d9d9d9;
}

.form-control {
    border-color: #d9d9d9;
    color: #b3b3b3;
    padding: 12px 16px;
}

.form-control:focus {
    border-color: #d9d9d9;
    color: #b3b3b3;
    box-shadow: none;
}

.btn-main {
    background-color: #800000;
    border-color: #800000;
}

.btn-danger:hover {
    background-color: #660000 !important;
    border-color: #660000 !important;
}

.eye-icon {
    width: 20px; 
    height: 20px;
    cursor: pointer;
    color: #d9d9d9;
}